* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #2d6a4f;
  --bg: #b1dcb4ab;
  --bg-card: #dfeadf;
  --bg-btn: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(87, 199, 133, 1) 100%,
    rgba(237, 221, 83, 1) 100%
  );
}
@font-face {
  font-family: "bold";
  src: url("./fonts/Archivo-SemiBold.ttf");
}
@font-face {
  font-family: "light";
  src: url("./fonts/Archivo-Light.ttf");
}
.form-control:focus,
select:focus,
.navbar-toggler:focus {
  outline: none !important;
  border-color: var(--primary) !important;
  box-shadow: none !important;
}
h1:not(.heading-text),
h2,
h3,
h5,
h6,
h4,
span,
th,
td,
label {
  color: var(--primary) !important;
  font-family: "bold";
}
.heading-text {
  font-family: "bold";
}
p {
  color: var(--primary) !important;
  font-family: "light";
}
a {
  text-decoration: none !important;
  color: var(--primary) !important;
}
button:not(.eye, .role-btn, .navbar-toggler, .btn-close, .nav-link, .status) {
  background: var(--bg-btn);
  color: var(--bg-card) !important;
  border: none !important;
}
button,
a {
  font-family: "bold";
}
.nav-link,
.navbar-brand {
  color: var(--primary) !important;
  border: none !important;
  font-family: "bold";
}
.btn-close:focus {
  color: var(--primary) !important;
  box-shadow: none !important;
}
.card {
  background: var(--bg-card) !important;
  transition: all 0.2s ease;
}

.about-card {
  background-color: var(--bg) !important;
}
.customToast {
  background-color: var(--bg-card) !important;
  color: var(--primary) !important;
}
body {
  background-color: var(--bg) !important;
}
.badge:not(.status) {
  background: var(--bg-btn) !important;
  color: var(--bg-card) !important;
  border: none !important;
  font-family: "bold";
}
.navbar {
  background-color: var(--bg-card) !important;
}
footer {
  color: var(--primary) !important;
}
